table {
  margin-left: auto;
  margin-right: auto;
}
table, th, td {
  border-collapse: collapse;
  border: 2px solid #ccc;
  line-height: 1.5;
}
th,td {
  padding: 4px;
}
th {
  background-color: #888888;
}
td.center {
  text-align: center;
}
.bold_red {
  color: #FF0000;
  font-weight: 900;
}
p.right {
  width: 100%;
  margin: 0 auto;
  max-width: 600px;
  text-align: right;
}
p.center {
  width: 100%;
  margin: 0 auto;
  max-width: 600px;
}
